$button-color: #3b3bee;
$button-bg: #fff;
$button-inactive: #666;

body {
  margin: 0;
}

.centered {
  text-align: center;
}

.lb-outerContainer {
  margin-top: 50px;
}

.load-more-button {
  background: $button-bg;
  color: $button-color;
  border: solid 1px $button-color;
  border-radius: 3px;
  font: inherit;
  outline: inherit;
  padding: 10px 20px;
  font-size: 23px;
  cursor: pointer;

  &.active {
    background: darken($button-bg, 10);
    color: $button-inactive;
    border-color: $button-inactive;
    cursor: not-allowed;
  }
}